%table.table.table-condensed
  %thead
    %tr
      -model[:header].each do |header|
        %th
          =header
  %tbody
    %tr
      -model[:data].each do |row|
        %tr
          -model[:header].each do |header|
            %td
              .table-data
                =row[header]
