%table.table.table-condensed
  %thead
    %tr
      %th
        ListingId
      %th
        Number of Errors
      %th
        Number of Successes
  %tbody
    -errors.each do |listing_id, counts|
      %tr
        %td
          .table-data
            %a{href: "/entries/#{group.name}/tag/#{listing_id}"}
              =listing_id
        %td
          .table-data
            =counts[0]
        %td
          .table-data
            =counts[1]

